@import 'tailwindcss';
@import '@fontsource/fira-code/index.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Fira Code', monospace;
  --font-mono: 'Fira Code', monospace;
  --text-tiny: 0.625rem;
  --text-tiny: 0.4rem;
  --animate-blink: blink 1s step-start infinite;
  @keyframes blink {
    '0%, 100%' {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
